body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: gray;
    width: 500px;
}

.name {
    color: white;
    text-align: center;
    font-size: 34px;
    border: 1px solid black;
    border-radius: 15px;
}

header {
    text-align: center;
}

.btn {
    text-align: center;

}

#button {
    border-radius: 15px;
}

tr {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
}

td {
    font-size: 16px;
    color: white;
}